*
!schemas
!schemas/*
!config
!config/*
!images
!images/*
!snakemake_profiles
!snakemake_profiles/**
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!AGENTS.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/*
.test/data
.test/scratch
.test/ReferenceGenomes
!snakemake.sbatch
!cluster-config.json
*.swp
