[submodule "scripts/leafcutter"]
	path = scripts/leafcutter
	url = git@github.com:davidaknowles/leafcutter.git
[submodule "scripts/leafcutter2"]
	path = scripts/leafcutter2
	url = git@github.com:bfairkun/leafcutter2.git
[submodule "scripts/leafcutter2_carlos"]
	path = scripts/leafcutter2_carlos
	url = git@github.com:cfbuenabadn/leafcutter2.git
